<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name=".gameWebView.GameWebViewActivity"
            android:theme="@style/noAnimTheme"
            android:exported="false" />
        <activity
            android:name="com.itg.itggaming.gameCategories.GameCategoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/noAnimTheme"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />

        <activity
            android:name=".gameLanding.GameLandingActivity"
            android:screenOrientation="portrait"
            android:exported="true">
        </activity>
    </application>

</manifest>